# OS Generated
.DS_Store
Thumbs.db
desktop.ini

# Node / Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local

# Editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
